{% macro hireForm(form) -%}
<span class="text-h6">Hire</span>
<div class="drop-shadow-md bg-white rounded-xl mt-4 p-6">
  <form action="" method="post" name="hireScooter">
    {{ form.hidden_tag() }}
    <div class="flex gap-6">
      <div class="flex-1">
        {{ form.pickupLoc.label(class_="mb-2") }} {{ form.pickupLoc(class_='mt-2
        w-full p-3 rounded-lg border border-black', placeholder_="Pickup
        Location") }} {% for error in form.pickupLoc.errors %}
        <div class="alert alert-danger w-100" role="alert">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="flex-1">
        {{ form.hirePeriod.label(class_="mb-2") }} {{
        form.hirePeriod(class_='mt-2 w-full p-3 rounded-lg border border-black',
        placeholder_="Pickup Location", id_='hirePeriod') }} {% for error in
        form.hirePeriod.errors %}
        <div class="alert alert-danger w-100" role="alert">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="flex-1">
        {{ form.dropOffLoc.label(class_="mb-2") }} {{
        form.dropOffLoc(class_='mt-2 w-full p-3 rounded-lg border border-black',
        placeholder_="Pickup Location") }} {% for error in
        form.dropOffLoc.errors %}
        <div class="alert alert-danger w-100" role="alert">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="hidden">
        {{ form.cost.label(class_="mb-2") }} {{ form.cost( value='4',
        id='costField') }}
      </div>
    </div>
    <div class="mt-6 flex justify-between">
      <div class="flex rounded-lg bg-gray-100 p-3 px-8 w-min">
        <span>Cost: </span>
        <span id="cost" class="font-bold ml-2">4</span>
        <span class="font-bold">£</span>
      </div>
      <input
        type="submit"
        class="w-min bg-green-600 text-white text-h4 py-2 rounded-lg cursor-pointer px-8 ml-4"
        value="Hire"
      />
    </div>
  </form>
</div>
<script>
  var selectTag = document.getElementById("hirePeriod");
  var costDisplay = document.getElementById("cost");
  var costField = document.getElementById("costField");

  selectTag.addEventListener("change", function change(el) {
    switch (selectTag.value) {
      case "1":
        costDisplay.innerText = "4";
        costField.value = 4;
        break;
      case "2":
        costDisplay.innerText = "14";
        costField.value = 14;
        break;
      case "3":
        costDisplay.innerText = "30";
        costField.value = 30;
        break;
      case "4":
        costDisplay.innerText = "80";
        costField.value = 80;
        break;
    }
  });
</script>
{%- endmacro -%}
