{% extends "layouts/auth_layout.html" %}
{% block content %}

<h1>Create Account</h1>
<form action="{{ url_for_security('register') }}" method="post" name="register_user_form">
    <div class="mb-3">
        {{ register_user_form.email.label }}
        {{ register_user_form.email(class_='register_user_form-control') }}
        {% for error in register_user_form.email.errors %}
        <div class="alert alert-danger w-100" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ register_user_form.password.label }}
        {{ register_user_form.password(class_='register_user_form-control') }}
        {% for error in register_user_form.password.errors %}
        <div class="alert alert-danger w-100" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ register_user_form.password_confirm.label }}
        {{ register_user_form.password_confirm(class_='register_user_form-control') }}
        {% for error in register_user_form.password_confirm.errors %}
        <div class="alert alert-danger w-100" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Register"></p>

</form>

{% include "security/_menu.html" %}

{% endblock %}
