li.nav-item {
  color: rgb(255, 255, 255);
}

img.d-inline-block align-top {
  height: 30;
  width: 35;
}

html,
body {
  font-family: "Inter", sans-serif;
  max-height: calc(100vh - 80px);
  height: 100%;
  width: 100%;
}

#addLocation {
  height: 300px;
  width: 100%;
  background-color: grey;
}
