{% extends "base/index.html" %} {% block content %}
<div class="w-full mt-10 flex w-full gap-6">
  <div class="flex-1">
    <span class="text-h6">Scooters</span>
    <div class="mt-4 bg-white drop-shadow-md rounded-xl p-6">
     {% if Scooters|length == 0 %}
        <span class="text-center text-body-lg text-gray-500 my-8"
          >It appears there are no scooters yet. You can add them now</span
        >
        {% else %} {% for scooter in Scooters %}
        <div class="mb-3 py-2">
        <h1> scooter </h1>
          <span>{{scooter.availability}}</span>
        </div>
        {% endfor %} {% endif %}
    </div>
    
  </div>
  <div class="flex-1">
    <span class="text-h6">Locations</span>
    <div class="mt-4 bg-white drop-shadow-md rounded-xl p-6">
      <div class="flex flex-col">
        {% if locations|length == 0 %}
        <span class="text-center text-body-lg text-gray-500 my-8"
          >It appears there are no locations yet. You can add them now</span
        >
        {% else %} {% for location in locations %}
        <div class="mb-3 py-2">
          <span>{{location.name}}</span>
        </div>
        {% endfor %} {% endif %}
        <div class="w-full h-px bg-gray-100 mb-6"></div>
        <a
          href="/manager/add-location"
          class="p-3 w-1/2 border border-gray-800 text-h4 rounded-lg border-2 text-center hover:bg-gray-100 mr-0 ml-auto"
          >Add location</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
