{% import 'components/hireForm.html' as hireForm %}{% extends "base/index.html"
%} {% block content %}
<div class="w-full mx-auto flex flex-col h-full justify-center">
  {{hireForm.hireForm(form)}}
</div>
{% endblock %}

<!-- <h1>Home</h1>

<h3>Users</h3>
<ul>
  {% for u in users %}
  <li>{{u.email}}</li>
  {% endfor %}
</ul>

<h3>Roles</h3>
<ul>
  {% for r in roles %}
  <li>{{r.name}}</li>
  {% endfor %}
</ul>

<h3>Bank Details</h3>
<ul>
  {% for d in bank_details %}
  <li>{{d.name}}</li>
  {% endfor %}
</ul> -->
